{% extends "base2.html" %}


{% block content %}

<div class="tab-content no-border padding-24">
	<div id="home" class="tab-pane in active">
		<div class="row">
			<div class="col-xs-12 col-sm-3 center">
				<span class="profile-picture">
					<img class="editable img-responsive" alt=" Avatar" id="avatar2" src="{{about_us.Image}}">
				</span>

				<div class="space space-4"></div>
			</div><!-- /.col -->

			<div class="col-xs-12 col-sm-9">
				<div style="width:20%">
					<h4 class="blue" align=center>
						<span class="middle">{{about_us.Name}}</span>
					</h4>
				</div>
				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> Username </div>

						<div class="profile-info-value">
							<span>{{about_us.username}}</span>
						</div>
					</div>



					<div class="profile-info-row">
						<div class="profile-info-name"> Post </div>

						<div class="profile-info-value">
							<span>{{about_us.Departmental_post}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Department </div>

						<div class="profile-info-value">
							<span>{{about_us.Department}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Institute </div>

						<div class="profile-info-value">
							<span>{{about_us.Institute}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Room </div>

						<div class="profile-info-value">
							<span>{{about_us.Room_no}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Phone </div>

						<div class="profile-info-value">
							<span>{{about_us.Phone}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Email </div>

						<div class="profile-info-value">
							<span>{{about_us.Email}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Sync </div>

						<div class="profile-info-value">
							<span>{{about_us.sync}}</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name"> Location </div>

						<div class="profile-info-value">
							<i class="fa fa-map-marker light-orange bigger-110"></i>
							<span>{{about_us.Address}}</span>
						</div>
					</div>
				</div>



				<div class="hr hr-8 dotted"></div>
				<div class="profile-user-info">
					<div class="profile-info-row">
						<div class="profile-info-name"> Website </div>

						<div class="profile-info-value">
							<a href="/profile/StHome/{{about_us.username}}">My Website</a>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="space-20"></div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="widget-box transparent">
					<div class="widget-body">
						<div class="widget-main">
							<p>Research Interests</p>
							<p>{{about_us.ResearchInterest}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /#home -->
<br>


		<a href="{% url 'userprofile:profile_about_us_edit' user.username %}" class="btn btn-primary">Edit</a>


{% endblock %}
