{% load static %}
{% load staticfiles %}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Emrah_Demirag a Onepage Portfolio Flat Bootstrap Responsive Website Template| Home :: w3layouts</title>
<link href="{% static 'css/bootstrap1.css' %}" rel='stylesheet' type='text/css'/>
<link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Emrah_Demirag Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min1.js' %}"> </script>
<!--web_fonts-->
<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<!--/web_fonts-->
<!--start-smoth-scrolling-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--header-->
<div id="home" class="banner">
	<div class="container">
		<div class="label-1"> </div>
		<div class="top-menu">
		<span class="menu"> </span> 
			<ul class="nav">
					<li><a class="scroll" href="Font.html">HOME</a></li>
					<li><a class="scroll" href="#about">ABOUT</a></li>
					<li><a class="scroll" href="#work">WORK</a></li>
					<li><a class="scroll" href="#contact">CONTACT</a></li>
				</ul>
				<div class="logo">
					<a href="#"><img src="{% static 'images/logo.png' %}" /></a>
				</div>
				<div class="clearfix"> </div>
	</div>	
			 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
			<div id="banner-top" class="banner-top">		  		  
				<h1><span class="left-icon"> </span>EMRAH DEMİRAĞ<span class="right-icon"> </span><div class="clearfix"> </div></h1>
				<h2><span class="left-icon"> </span>UI&UX DESIGNER<span class="right-icon"> </span><div class="clearfix"> </div></h2>
			</div>
		<div class="header-icons">
			<a href="#"><span class="fb"> </span></a>
			<a href="#"><span class="tw"> </span></a>
			<a href="#"><span class="pin"> </span></a>	
			<a href="#"><span class="likdin"> </span></a>	
			<a href="#"><span class="dribble"> </span></a>	 
			<a href="#"><span class="be"> </span></a>
		 </div>
</div>
</div>
<!--/header-->
<!--work-->
<div id="work" class="work">
	<div class="container">
		<div class="label-3"> </div>
		<div class="label-4"> </div>
		<h3><span class="left-icon"> </span>WORK<span class="right-icon"> </span><div class="clearfix"> </div></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		<!--Portfolio-->
	<div class="project">
					<div id="portfoliolist">
						<div class="portfolio" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="{% static 'images/p1.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="{% static 'images/p1.jpg' %}" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="{% static 'images/logo.png' %}" /></h2>
							  	 </div></a>
			                </div>
						</div>				
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="{% static 'images/p2.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/p2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			               	</div>
						</div>		
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="{% static 'images/p3.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/p3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>						
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/p4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/p4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>	
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/p5.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/p5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/p6.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="images/p6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>	
			            <div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/p7.jpg" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="images/p7.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="images/p8.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="images/p8.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="images/logo.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>		
			            <div class="clearfix"> </div>
			</div>
</div>
	<link rel="stylesheet" href="{% static 'css/swipebox.css' %}">
	<script src="{% static 'js/jquery.swipebox.min.js' %}"></script> 
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
		</script>
<!--/Portfolio-->
	</div>
</div>
<!--/work-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<div class="label-5"> </div>
		<div class="label-6"> </div>
		<h3><span class="left-icon"> </span>ABOUT<span class="right-icon">  </span><div class="clearfix"> </div></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		<div class="about-info">
			<div class="col-md-6 about-left">
				<img src="{% static 'images/about.jpg' %}" class="img-responsive" alt=""/>
			</div>
			<div class="col-md-6 about-right">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus, ligula ut viverra vol.
					Felis ipsum dignissim quam, sed euismod orci lorem nec ligula. Fusce sit amet faucibus nunc.
					 Suspendisse nibh nisi,iverra in ligula vel, laciniavestibulum nibh.Class
					 aptent taciti sociosqu ad litora torquent per conubia nostra, 
					per inceptos himenaeosProin quis erat sit amet 
					massa dapibus porttitor.</p>
					<div class="about-icons">
						<a href="#"><span class="fb"> </span></a>
						<a href="#"><span class="tw"> </span></a>
						<a href="#"><span class="pin"> </span></a>	
						<a href="#"><span class="likdin"> </span></a>	
						<a href="#"><span class="dribble"> </span></a>	 
						<a href="#"><span class="be"> </span></a>
					 </div>
			</div>
			 <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/about-->
<!--contact-->
<div id="contact" class="contact">
	<div class="container">
		<div class="label-7"> </div>
		<div class="label-8"> </div>
		<h3><span class="left-icon"> </span>CONTACT<span class="right-icon"> </span><div class="clearfix"> </div></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		<div class="conatct-form">
			<ul class="form">
				<li>
				<input type="text" class="text" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" >
				</li>
				<li>
				<input type="text" class="text" value="Email*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email*';}" >
				</li>
				<li>
				<textarea value="Message*:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message*';}">Message*</textarea>
				</li>
				<div class="sub-button">
					<input type="submit" value="SEND">
				</div>
			</ul>
		</div>
		<div class="copyrights">
		<p>Copyrights &copy; 2015 Example All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
</div>
<!--/contact-->
<!--copy-rights-->

<!--copy-rights-->
</body>
</html>