{% load static %}
{% load staticfiles %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Easy Resume a Personal Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Easy Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="{% static 'application/x-javascript' %}"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
<link href="{% static 'css/style1.css' %}" type="text/css" rel="stylesheet" media="all"> 
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}"> 
<!-- //Custom Theme files -->
<!-- js -->
<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script> 
<!-- //js -->
<!-- web-fonts -->
<link href='//fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts --> 
</head>
<body>
	<!-- top-nav -->
	<div class="top-nav">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					Menu
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="menu">
					<ul class="nav navbar"> 
						<li><a href="StHome.html" class="w3ls-hover"><span data-letters="Home">Home</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#about" class="w3ls-hover"><span data-letters="About">About </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#skill" class="w3ls-hover"><span data-letters="Skills">Skills</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#experience" class="w3ls-hover"><span data-letters="Experience">Experience </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#education" class="w3ls-hover"><span data-letters="Education">Education </span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#work" class="w3ls-hover"><span data-letters="Work">Work</span></a></li>
						<li><a href="#" data-toggle="modal" data-target="#contact" class="w3ls-hover"><span data-letters="Contact">Contact </span></a></li> 
						<li><a class="w3ls-icon" href="#"><span class="glyphicon glyphicon-save"></span></a></li> 
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>	
	<!-- //top-nav -->
	
	<!-- banner --> 
	<!-- <div class="video" data-vide-bg="{% static 'video/cv' %}">   -->
		<div class="container">
			<div class="banner-text agileinfo-text">
				<h1>Leland M. Thompson</h1> 
				<h6>Web Designer & Developer</h6>
			</div>  
		</div>	
	<!-- </div>	 -->
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<!-- //banner --> 
	<!-- modal-about -->
	<div class="modal fade modal-about" id="about" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">ABOUT ME</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="about"> 
						<div class="col-md-4 about-left ">
							<img src="images/img1.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-8 about-right wthree">
							<h3>Hi, i'm <span>Leland M. Thompson </span></h3>
							<h4>Web Designer & Developer </h4>
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>23-06-1980</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE </b></li>
										<li>+00 111 222 3333</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>756 global Place, North Sydney, Canada.</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> mail@example.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="http://w3layouts.com">www.myresume.com</a></li>
									</ul>
								</li>
							</ul> 
						</div> 
						<div class="clearfix"> </div> 
						<div class="about-text agileits-w3layouts"> 
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh sed accumsan quam.</p>
							<p class="agile-br"> Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem, varius quis dolor vel, maximus dapibus mi. Pellentesque mattis mauris neque. Nam aliquam turpis ante, at cursus massa ullamcorper ut  </p>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-about -->
	<!-- modal-skills -->
	<div class="modal fade modal-skills" id="skill" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Skills</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids">
							<h4><span class="glyphicon glyphicon-cog"></span> Technical Skills </h4>
							<h6>web design  <span> 80% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>ui design & developer <span> 70% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>
							<h6>Javascript<span>90% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Photoshop <span> 75% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4><span class="glyphicon glyphicon-briefcase"></span> Professional Skills </h4>
							<h6>Communication<span> 85% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 85%">
								</div>
							</div>
							<h6>Social media marketing<span> 95% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 95%">
								</div>
							</div>
							<h6>Leadership<span>90% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Confidence<span>86% </span></h6>
							<div class="progress prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 86%">
								</div>
							</div> 
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-skills -->
	<!-- modal-experience -->
	<div class="modal fade modal-experience" id="experience" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Experience</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="experience w3-agileits-info">  
						{% for i in experience %}
							<div class="experience-grids">
							<div class="experience-left">
								<h3> "Hello" </h3>
								<h5> "{{i.Company}}" </h5>
							</div>
							<div class="experience-right">
								<h4> "{{i.Designation}}" </h4>
								<p>Served as {{ i.Designation }} in company {{ i.Company }} during {{i.Duration}}.</p>
							</div>
							<div class="clearfix"> </div>
						</div> 
						{% endfor %}
						<!-- 
						<div class="experience-grids">
							<div class="experience-left">
								<h3>2014 - Now </h3>
								<h5>Company Name </h5>
							</div>
							<div class="experience-right">
								<h4>Senior Web Designer</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
							</div>
							<div class="clearfix"> </div>
						</div> 
						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>2013 - 2014</h3>
								<h5>Company Name </h5>
							</div>
							<div class="experience-right">
								<h4>Graphic Designer</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="experience-grids w3-agileits">
							<div class="experience-left">
								<h3>2011 - 2013</h3>
								<h5>Company Name </h5>
							</div>
							<div class="experience-right">
								<h4>Web Designer & Developer</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
							</div>
							<div class="clearfix"> </div>
						</div> -->
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-experience -->
	<!-- modal-education -->
	<div class="modal fade modal-experience" id="education" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header w3layouts">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Qualification</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="experience">  
						<div class="experience-grids">
							<div class="experience-left">
								<h3>2011<span>(2 Years Course)</span> </h3>
								<h5> University Name</h5>
							</div>
							<div class="experience-right">
								<h4>Master of Web Design</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
							</div>
							<div class="clearfix"> </div>
						</div> 
						<div class="experience-grids experience-grids-btm">
							<div class="experience-left">
								<h3>2009<span>(3 Years Course)</span></h3>
								<h5> University Name</h5>
							</div>
							<div class="experience-right">
								<h4>Diploma in Design</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
							</div>
							<div class="clearfix"> </div>
						</div> 
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-education -->
	<!-- modal-gallery -->
	<div class="modal fade modal-gallery" id="work" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">My Work</h4> 
				</div>
				<div class="modal-body modal-spa">
					<div class="gallery"> 
						<div class="gallery-row"> 
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="{% static 'images/g1.jpg' %}" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley">
										<img src="images/g1.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="{% static 'images/g2.jpg' %}" data-lightbox="example-set" data-title="Sed ut perspiciatis unde omnis iste natus error sit">
										<img src="images/g2.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="{% static 'images/g3.jpg' %}" data-lightbox="example-set" data-title="Eaque ipsa quae ab illo inventore veritatis et quasi">
										<img src="images/g3.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="{% static 'images/g4.jpg' %}" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley">
										<img src="images/g4.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="images/g5.jpg" data-lightbox="example-set" data-title="Sed ut perspiciatis unde omnis iste natus error sit">
										<img src="images/g5.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley">
										<img src="images/g6.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="images/g3.jpg" data-lightbox="example-set" data-title="Sed ut perspiciatis unde omnis iste natus error sit">
										<img src="images/g3.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="{% static 'images/g1.jpg' %}" data-lightbox="example-set" data-title="Eaque ipsa quae ab illo inventore veritatis et quasi">
										<img src="images/g1.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-4 gallery-grids">
								<div class="gallery-w3ls-hover">
									<a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley">
										<img src="images/g2.jpg" class="img-responsive zoom-img" alt=""/>
										<div class="view-caption">
											<h5>View+</h5> 
										</div>
									</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!--  light box js -->
						<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"> </script> 
						<!-- //light box js-->  
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-gallery -->
	<!-- modal-contact -->
	<div class="modal fade modal-contact" id="contact" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content"> 
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Get In Touch</h4>
				</div>
				<div class="modal-body modal-spa">
					<div class="contact"> 
						<div class="contact-w3lsrow">
							<div class="col-md-6 contact-left w3-agileits">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
							</div>
							<div class="col-md-6 contact-right">
								<form action="#" method="post">
									<div class="styled-input agile-styled-input-top">
										<input type="text" name="Name" required="">
										<label>Name</label>
										<span></span>
									</div>
									<div class="styled-input">
										<input type="text" name="Email" required=""> 
										<label>Email</label>
										<span></span>
									</div> 
									<div class="styled-input">
										<input type="text" name="Subject" required="">
										<label>Subject</label>
										<span></span>
									</div>
									<div class="styled-input">
										<textarea name="Message" required=""></textarea>
										<label>Message</label>
										<span></span>
									</div>	 
									<input type="submit" value="SEND">
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>  
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //modal-contact --> 
	
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<p>© 2016 Easy Resume. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
	<!-- //footer --> 
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap1.js' %}"></script>
</body>
</html>